*.pyc
*.bak
*.dat
*.dir
*.pyc
*~

.ipynb_checkpoints
.vscode

checkpoint
myvenv
__pycache__

*.dot
*.plt
*.tab

logs/*

tf_logs/*

input/**
!input/.gitkeep
!input/graph_nn_data
!input/graph_nn_data/.gitkeep

output/**
!output/.gitkeep

images/**
!images/.gitkeep
!images/???.png
!images/*.dot

ngrok-stable-linux-amd64/**
!ngrok-stable-linux-amd64/.gitkeep

gd_project/keys.py
gd_project/input/**
gd_project/output/**
gd_project/images/**
gd_project/dumped_data/**
!gd_project/input/.gitkeep
!gd_project/output/.gitkeep
!gd_project/images/.gitkeep
!gd_project/dumped_data/.gitkeep

books_project/keys.py
books_project/input/**
books_project/output/**
books_project/images/**
books_project/dumped_data/**
!books_project/input/.gitkeep
!books_project/.gitkeep
!books_project/images/.gitkeep
!books_project/dumped_data/.gitkeep