*.pyc
*.bak
*.dat
*.dir
*.pyc
*~

.ipynb_checkpoints
.vscode

checkpoint
myvenv
__pycache__

*.dot
*.plt
*.tab

logs/*

tf_logs/*

input/**
!input/.gitkeep

output/**
!output/.gitkeep

images/**
!images/.gitkeep
!images/???.png
!images/*.dot

gd_project/keys.py
gd_project/input/**
gd_project/output/**
gd_project/images/**
gd_project/dumped_data/**
!gd_project/input/.gitkeep
!gd_project/output/.gitkeep
!gd_project/images/.gitkeep
!gd_project/dumped_data/.gitkeep