*.pyc
*.bak
*.dat
*.dir
*.pyc
*~

.ipynb_checkpoints
.vscode

checkpoint
myvenv
__pycache__

logs/*

tf_logs/*

input/**
!input/.gitkeep

output/**
!output/.gitkeep

images/**
!images/.gitkeep

*.dot
*.plt
*.tab